.grid {
    display: grid;
}
.grid-cols-8{
    grid-template-columns: repeat(8, minmax(0, 1fr));
}
.gap-2{
    gap: 0.5rem;
}
.col-span-2{
    grid-column: span 2 / span 2;
}
.col-start-3{
    grid-column-start: 3;
}
.col-end-8{
    grid-column-end: 8;
}