@mixin icon($icon-modifiers, $icon-colors: ()){
    position: relative;
    font-size: inherit;
    color: currentColor;
    @each $key, $value in $icon-modifiers {
        &--#{$key} {
          font-size: $value;
        }
    }
    @each $key, $value in $icon-colors {
        &--#{$key} {
          color: $value;
        }
    }
}