@mixin icon($icon-modifiers, $icon-colors: ()){
    position: relative;
    font-size: inherit;
    color: currentColor;
    overflow: hidden;
    transition: all .15s ease-in-out;
    @each $key, $value in $icon-modifiers {
        &--#{$key} {
          font-size: $value;
        }
    }
    @each $key, $value in $icon-colors {
        &--#{$key} {
          color: $value;
        }
    }

    &--rotate-180-deg{
      transform: rotate(-180deg);
    }
}