//- Fade
.modal-fade-enter,
  .modal-fade-leave-to {
    opacity: 0;
  }

.modal-fade-enter-active,
.modal-fade-leave-active {
    transition: opacity .5s ease;
}

//- ScaleUp
.modal-scale-up-enter,
  .modal-scale-up-leave-to {
    opacity: 0;
    transform: scale(0);
  }

.modal-scale-up-enter-active,
.modal-scale-up-leave-active {
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
}