@mixin floatingLabel($label-base) {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    label{
        &.ui-label-float{
            font-size: 13px;
            opacity: 0.9;
            pointer-events: none;
            position: absolute;
            top: 5px;
            left: 10px;
            transform: translate3d(0, 0, 0) scale(1);
            transform-origin: left top;
            transition: transform ease .2s;
        }
        &.label-disabled{
            color: var(--tertiary-grey)
        }
    }
    &.is-focused label {
        opacity: 0.8;
        transform: translateY(-0px) scale(0.65);
    }
}