@mixin hoverCurrentColor($base:()){
    &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        transition: .4s cubic-bezier(.4,0,.2,1);
        will-change: background-color,opacity;
    }

    @if map-has-key($base, 'bg-color') {
        &:hover::after {
            background-color: map-get($base, 'bg-color');
            opacity: .12
        }
        @if map-has-key($base, 'bg-opacity') {
            &:hover::after {
                opacity: map-get($base, 'bg-opacity');
            }
        }
    }
    @else {
        &:hover::after {
            background-color: currentColor;
            opacity: .12
        }
    }


    @if map-has-key($base, 'text-color') {
        &:hover{
            color: map-get($base, 'text-color');
        }
        @if map-has-key($base, 'text-opacity') {
            &:hover{
                opacity: map-get($base, 'text-opacity');
            }
        }
    }
}