:root{
    /* Colors. */
    --white: #ffffff;
    --primary-blue: #1a759f;
    --primary-grey: #edf6f9;
    --secondary-grey: #d9dbdb;
    --tertiary-grey: #adb5bd;
    --vue-green: #4effbe;
    --success: #3bc53b;
    --warning: #eee024;
    --danger: #eb3636;

    /* Border */
    --radius-small: 3px;
    --radius-regular: 5px;
}