@import '../../../../static/scss/_mixins.scss/paddings';

@mixin link($base, $modifiers: ()){
    position: relative;
    color: map-get($base, 'primary-text-color');
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    @include paddings($modifiers);

    &--underline{
        text-decoration: underline;
    }
    
    &--icon-top{
        flex-direction: column-reverse;
        justify-content: center;
    }
    
    &--icon-bottom{
        flex-direction: column;
        justify-content: center;
    }
    
    &--icon-left{
        flex-direction: row-reverse;
    }
    
    &--icon-right{
        flex-direction: row;
        justify-content: center;
    }
}